<div class="sidebar">
    <ul class="menu">
        <!-- <li class="menu-item">
            <img src="logo.png" alt="">
        </li> -->
      <div class="elements">
        <li class="menu-item elem">
          <i class='bx bxs-home'></i><a routerLink="/home">Home</a>
        </li>
        <li class="menu-item elem">
          <i class='bx bxs-user-circle'></i><a routerLink="/profile">Profile</a>
        </li>
        <li class="menu-item elem">
          <i class='bx bxs-store'></i><a routerLink="/market">Market</a>
        </li>
        <li class="menu-item elem">
          <i class='bx bxs-archive'></i><a routerLink="/loans">Loans</a>
        </li>
        <li class="menu-item elem">
          <i class='bx bxs-group'></i><a routerLink="/users">Clients</a>
        </li>
        <li class="menu-item elem">
          <i class='bx bxs-car'></i><a routerLink="/cars">Cars</a>
        </li>
        <li class="menu-item elem">
          <i class='bx bxs-wrench'></i><a routerLink="/reparations">Reparations</a>
        </li>
      </div>
    </ul>
  </div>
  
