<section class="container forms">
    <div class="form signup">
      <div class="form-content">
        <header><img src="logo.png" alt=""></header>
        <form action="#">
          <div class="form-row">
            
            <div class="field input-field">
              <input type="text" placeholder="username" class="input" name="username">
            </div>
            <div class="field input-field">
              <input type="email" placeholder="Email" class="input" name="email">
            </div>
            <div class="field input-field">
              <input type="password" placeholder="password" class="input" name="password">
            </div>
          </div>
          <!-- <div class="form-row">
            <div class="field input-field">
              <input type="number" placeholder="Tel" class="input" name="tel">
            </div>
            <div class="field input-field">
              <input type="text" placeholder="Adresse" class="input" name="adresse">
            </div>
            <div class="field input-field">
              <input type="number" placeholder="Numéro Permis" class="input" name="numPermis">
            </div>
            <div class="field input-field">
              <input type="password" placeholder="Password" class="input password">
            </div>
          </div> -->
          <div class="field button-field">
            <button>Signup</button>
          </div>
        </form>
        <div class="form-link">
          <span>Already have an account? <a routerLink="/login" class="link signup-link" (click)="navigateToLogin()">Login</a></span>
        </div>
      </div>
    </div>
  </section>
  