<section class="main-content" id="home">
    <div class="left-part">
        <h1>X-Speed</h1>
        <p>
            Drive your dreams with ease! At X-Speed, we’re committed to making car ownership simple and stress-free. Whether you're buying your first car, upgrading to a new model, or dreaming of your ideal ride, our tailored car loan solutions offer competitive rates, flexible repayment plans, and a fast approval process. With us, you’re just a step away from hitting the road in the car you love. Start your journey today – because your dream car is closer than you think!
        </p>
        <div class="button-container">
          <button (click)="goToMarket()" class="buy-btn">Start now</button>
          <!-- <button class="sell-btn"></button> -->
        </div>
      </div>
    
      <div class="right-part">
        <img src="car.png" alt="beautiful red corvette" />
      </div>
</section>
<app-about id="about"></app-about>
<app-footer id="footer"></app-footer>

