.users-page {
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 80px;
    margin-left: 280px;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead {
    background-color: #333;
    color: white;
  }
  
  th,
  td {
    padding: 12px 15px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  tbody tr:hover {
    background-color: #eaeaea;
  }
  
  .actions {
    display: flex;
    gap: 10px;
  }
  
  .show-button {
    background-color: #fc2c2c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .update-button {
    background-color: #ffffff;
    color:#fc2c2c;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
    border: solid #fc2c2c 2px;
  }
  
  .delete-button {
    background-color: #fc2c2c;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* .show-button:hover {
    background-color: #2169d8;
  }
  
  .update-button:hover {
    background-color: #e0a800;
  }
  
  .delete-button:hover {
    background-color: #e02424;
  } */
  
  .form-actions {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  }