<section class="container forms">
    <div class="form login">
      <div class="form-content">
        <header><img src="logo.png" alt=""></header>
        <form (submit)="onLogin($event)">
          <div class="field input-field">
            <input type="text" name="username" placeholder="Username" [(ngModel)]="username" class="input" required>
          </div>
          <div class="field input-field">
            <input type="password" name="password" placeholder="Password" [(ngModel)]="password" class="password" required>
          </div>
          <div class="field button-field">
            <button type="submit">Login</button>
          </div>
        </form>
        <div class="form-link">
          <span>Don't have an account? <a routerLink="/signup" class="link signup-link">Signup</a></span>
        </div>        
      </div>
    </div>
  </section>